@charset "utf-8";
/* CSS Document */
html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  width: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 0.25em;
  font-feature-settings: "palt";
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}
h1, h2, h3, h4, h5, p, dl, dt, dd {
  margin: 0;
}