/* スクロール設定 */
html {
  overflow-x: hidden;
}

/*  全要素のボックスサイズを統一 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*  画像がはみ出さないように設定 */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* リンクのデフォルト装飾リセット・縦方向の余白を調整可能にする */
a {
  color: var(--font-color);
  text-decoration: none;
  display: block;
}

/* リストの点を削除 */
ul,
ol {
  list-style: none;
}

/* マージン,パディングを0に */
* {
  margin: 0;
  padding: 0;
}

/* 本文の行間を調整（読みやすさ：ニュアンスの保護） */
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* buttonタグをリセット */
button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}
