:root {
  --wrapper: 0 5%;
  --base-color: #fff;
  --base-color-rgb: 255 255 255;
  --font-color: #222;
  --font-color-rgb: 34 34 34;
  --main-color: #0968aa;
  --main-color-rgb: 9 104 170;
  --sub-color: #f3f5f6;
  --accent-color: #3babc6;
  --accent-color-rgb: 59 171 198;
  --gradient-primary: linear-gradient(
    -30deg,
    var(--main-color) 0%,
    var(--accent-color) 80%
  );
  --gradient-primary-light: linear-gradient(
    90deg,
    #56bcd5 20%,
    var(--main-color) 100%
  );
  --font-family-jp: "Noto Sans JP", sans-serif;
  --font-family-en: "Oswald", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height: 2.125;
  --space-2xs: calc(4/400 * 100vw);
  --space-2xs-pc: calc(4/1600 * 100vw);
  --space-xs: calc(8/400 * 100vw);
  --space-xs-pc: calc(8/1600 * 100vw);
  --space-sm: calc(12/400 * 100vw);
  --space-sm-pc: calc(12/1600 * 100vw);
  --space-md: calc(16/400 * 100vw);
  --space-md-pc: calc(16/1600 * 100vw);
  --space-lg: calc(24/400 * 100vw);
  --space-lg-pc: calc(24/1600 * 100vw);
  --space-xl: calc(32/400 * 100vw);
  --space-xl-pc: calc(32/1600 * 100vw);
  --space-2xl: calc(48/400 * 100vw);
  --space-2xl-pc: calc(48/1600 * 100vw);
  --space-3xl: calc(64/400 * 100vw);
  --space-3xl-pc: calc(64/1600 * 100vw);
  --space-4xl: calc(80/400 * 100vw);
  --space-4xl-pc: calc(80/1600 * 100vw);
  --space-section: calc(120/400 * 100vw);
  --space-section-pc: calc(160/1600 * 100vw);
  --logo-size: calc(160/400 * 100vw);
  --logo-size-pc: calc(320/1600 * 100vw);
}

html {
  font-size: 62.5%; /* 16px * 62.5% = 10px */
  font-family: var(--font-family-jp);
  letter-spacing: 0.1em;
}

@media (max-width: 896px) {
  .sp-hidden {
    display: none;
  }
}

@media (min-width: 896px) {
  .pc-hidden {
    display: none;
  }
}

.en {
  font-family: var(--font-family-en);
  text-transform: uppercase;
}

@media (max-width: 896px) {
  body {
    font-size: calc(16 / 400 * 100vw);
  }
}

@media (min-width: 896px) {
  body {
    font-size: calc(16 / 1600 * 100vw);
  }
}

/* ========================== heading ========================== */
.heading-area {
  display: flex;
  flex-direction: column;
}

.heading {
  font-weight: var(--font-weight-medium);
}

@media (max-width: 896px) {
  .heading-area {
    row-gap: var(--space-sm);
    margin-bottom: var(--space-2xl);
  }

  .heading {
    font-size: calc(48 / 400 * 100vw);
  }
}

@media (min-width: 896px) {
  .heading-area {
    row-gap: var(--space-md-pc);
    margin-bottom: var(--space-4xl-pc);
  }

  .heading {
    font-size: calc(100 / 1600 * 100vw);
  }
}

.sub-heading {
  font-weight: var(--font-weight-regular);
}

@media (max-width: 1439px) {
  .sub-heading {
    font-size: var(--font-size-sub-heading-sp);
  }
}

@media (min-width: 1440px) {
  .sub-heading {
    font-size: var(--font-size-sub-heading-pc);
  }
}

/* ========================== heading 装飾 ========================== */
.service,
.works {
  position: relative;
}

.service::before,
.service::after,
.works::before,
.works::after {
  content: "";
  display: block;
  position: absolute;
}

.service::before,
.works::before {
  width: 1px;
  top: 0;
}

.service::after,
.works::after {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.service::before,
.service::after {
  left: 50%;
  transform: translateX(-50%);
}

.service::before {
  background: var(--main-color);
}

.service::after {
  background: rgba(var(--main-color-rgb) / 0.2);
}

.works::before {
  background: var(--base-color);
  left: 7.5px;
}

.works::after {
  background: rgba(var(--base-color-rgb) / 0.2);
}

@media (max-width: 896px) {
  .service::before,
  .works::before {
    height: calc(80 / 400 * 100vw);
  }

  .service::after,
  .works::after {
    top: calc(72 / 400 * 100vw);
  }

  .works::before,
  .works::after {
    margin-left: 8%;
  }
}

@media (min-width: 896px) {
  .service::before,
  .works::before {
    height: calc(110 / 1600 * 100vw);
  }

  .service::after,
  .works::after {
    top: calc(102 / 1600 * 100vw);
  }

  .works::before,
  .works::after {
    margin-left: calc(256 / 1600 * 100vw);
  }
}

/* ========================== copy ========================== */

.copy {
  display: inline-block;
  background: var(--base-color);
}

@media (max-width: 896px) {
  .copy {
    font-size: calc(20 / 400 * 100vw);
    margin-bottom: var(--space-xs);
    padding: var(--space-xs) var(--space-md);
  }
}

@media (min-width: 896px) {
  .copy {
    font-size: calc(40 / 1600 * 100vw);
    margin-bottom: var(--space-xs-pc);
    padding: var(--space-xs-pc) var(--space-md-pc);
  }
}

/* ========================== btn ========================== */
.btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn--border {
  position: relative;
}

.btn--box {
  position: relative;
  justify-content: center;
}

.btn-arrow {
  display: block;
  border-radius: 50%;
  position: absolute;
}

.btn--border .btn-arrow {
  position: relative;
}

.btn--box .btn-arrow {
  position: absolute;
}

.btn-arrow::before {
  content: "";
  display: block;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

@media (max-width: 896px) {
  .btn {
    width: 100%;
    font-size: calc(18 / 400 * 100vw);
  }

  .btn--border {
    padding-bottom: var(--space-md);
  }

  .btn--box {
    border-radius: calc(30 / 400 * 100vw);
    height: calc(60 / 400 * 100vw);
  }

  .btn-arrow {
    width: calc(30 / 400 * 100vw);
    height: calc(30 / 400 * 100vw);
  }

  .btn-arrow::before {
    width: calc(10 / 400 * 100vw);
    height: calc(10 / 400 * 100vw);
  }

  .btn--box .btn-arrow {
    right: 5%;
  }
}

@media (min-width: 896px) {
  .btn {
    font-size: calc(17 / 1600 * 100vw);
  }

  .btn--border {
    padding-bottom: var(--space-sm-pc);
    width: calc(300 / 1600 * 100vw);
  }

  .btn--box {
    border-radius: calc(35 / 1600 * 100vw);
    height: calc(72 / 1600 * 100vw);
  }

  .btn-arrow {
    width: calc(30 / 1600 * 100vw);
    height: calc(30 / 1600 * 100vw);
  }

  .btn-arrow::before {
    width: calc(10 / 1600 * 100vw);
    height: calc(10 / 1600 * 100vw);
  }

  .btn--box .btn-arrow {
    right: 10%;
  }
}

/* ========================== header ========================== */
.header {
  width: 100%;
  position: absolute;
  z-index: 20;
  top: 0;
  left: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header__nav-item a {
  color: var(--base-color);
  font-weight: var(--font-weight-regular);
}

@media (max-width: 896px) {
  .header {
    height: min(var(--space-4xl), 12rem);
    position: fixed;
    left: 0;
    top: 0;
  }

  .header__content {
    padding-left: 5%;
  }

  .header__logo {
    width: var(--logo-size);
  }

  .header__nav {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
  }

  .header__nav.is-open {
    visibility: visible;
  }

  .header__nav-wrapper {
    overflow-y: scroll;
    background: var(--main-color);
    width: min(100%, 640px);
    height: 100%;
    padding-top: min(calc(120 / 400 * 100vw), 18rem);
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    transition: all 0.5s;
    z-index: 18;
  }

  .header__nav-wrapper.is-open {
    transform: translateX(0);
  }

  .header__nav-logo {
    width: var(--logo-size);
    height: min(var(--space-4xl), 12rem);
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 5%;
  }

  .header__nav-list-wrapper {
    padding: var(--wrapper);
  }

  .header__nav-list {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-md);
    margin-bottom: var(--space-xl);
  }

  .header__nav-item a {
    padding-bottom: var(--space-md);
    border-bottom: 1px rgba(var(--base-color-rgb) / 0.5) solid;
    display: block;
    position: relative;
    font-size: min(calc(16 / 400 * 100vw), 2.8rem);
  }

  .header__nav-item a::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    background: var(--base-color);
    width: calc(12 / 400 * 100vw);
    height: calc(12 / 400 * 100vw);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(90deg);
  }

  .header__nav-contact-cta-area {
    background: var(--base-color);
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-md);
  }

  .header__nav-contact-cta-area .tel-icon,
  .header__nav-contact-cta-area .email-icon-img {
    display: block;
    width: calc(24 / 400 * 100vw);
  }

  .header__nav-contact-cta--tel a {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-2xs);
  }

  .header__nav-contact-cta .tel-number {
    font-size: calc(24 / 400 * 100vw);
    font-weight: var(--font-weight-bold);
    color: var(--accent-color);
    display: flex;
    align-items: center;
    column-gap: var(--space-xs);
  }

  .header__nav-contact-cta .business-hours {
    font-size: min(calc(13 / 400 * 100vw), 2.4rem);
    font-weight: var(--font-weight-regular);
  }

  .header__nav-contact-cta--email {
    width: 100%;
  }

  .header__nav-contact-cta--email .email-btn {
    background: var(--gradient-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--space-xs);
    color: var(--base-color);
    width: 100%;
    height: calc(70 / 400 * 100vw);
  }

  .header__nav-contact-cta--email .email-icon {
    background: var(--main-color);
    width: calc(36 / 400 * 100vw);
    height: calc(36 / 400 * 100vw);
    border-radius: calc(2 / 400 * 100vw);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sns-nav--header {
    height: min(var(--space-4xl), 12rem);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .sns-nav--header .sns-nav__list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-md);
  }

  .sns-nav--header a {
    display: block;
    width: calc(20 / 400 * 100vw);
  }

  .hamburger-btn {
    background: var(--gradient-primary);
    position: absolute;
    z-index: 20;
    right: 0;
    top: 0;
    width: min(var(--space-4xl), 12rem);
    height: 100%;
  }

  .hamburger-btn span {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 46.875%;
    height: 1px;
    background: var(--base-color);
    transition: all 0.5s;
  }

  .hamburger-btn span:nth-of-type(1) {
    top: calc(50% - calc(10 / 400 * 100vw));
  }

  .hamburger-btn span:nth-of-type(3) {
    bottom: calc(50% - calc(10 / 400 * 100vw));
  }

  .hamburger-btn.is-open span {
    top: auto;
    bottom: auto;
  }

  .hamburger-btn.is-open span:nth-of-type(1) {
    transform: rotate(45deg);
    left: 25%;
    transform-origin: center;
  }

  .hamburger-btn.is-open span:nth-of-type(2) {
    opacity: 0;
  }

  .hamburger-btn.is-open span:nth-of-type(3) {
    transform: rotate(-45deg);
    left: 25%;
    transform-origin: center;
  }

  .header__nav-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(var(--main-color-rgb) / 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }

  .header__nav-mask.is-open {
    opacity: 1;
    visibility: visible;
  }
}

@media (min-width: 896px) {
  .header {
    height: calc(80 / 1600 * 100vw);
  }

  .header__content {
    padding-left: 3%;
  }

  .header__logo {
    width: var(--logo-size-pc);
  }

  .header__nav {
    height: 100%;
  }

  .header__nav-wrapper {
    height: 100%;
  }

  .header__nav-list-wrapper {
    height: 100%;
  }

  .header__nav-list {
    display: flex;
    align-items: center;
    column-gap: var(--space-2xl-pc);
    height: 100%;
  }

  .header__nav-item--btn {
    height: 100%;
  }

  .header__nav-item--btn a {
    background: var(--gradient-primary);
    width: calc(240 / 1600 * 100vw);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--space-xs-pc);
  }

  .header__nav-item--btn .icon {
    display: inline-block;
    width: calc(24 / 1600 * 100vw);
  }

  .hamburger-btn {
    display: none;
  }
}

/* ========================== fv ========================== */
.fv {
  width: 100%;
  height: 100svh;
}

.fv__content {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.mainvisual {
  width: 100%;
  height: 100%;
  position: relative;
}

.mainvisual__copy-wrapper {
  position: absolute;
  color: var(--base-color);
}

.mainvisual__copy--main {
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

.mainvisual__copy--sub {
  line-height: 1.5;
}

.mainvisual__img {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.mainvisual__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.side-var {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-var-text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  font-weight: var(--font-weight-regular);
  position: relative;
}

.scroll-var-text::before,
.scroll-var-text::after {
  content: "";
  display: block;
  position: absolute;
  background: var(--font-color);
  left: 50%;
  transform: translateX(-50%);
}

.scroll-var-text::before {
  width: 1px;
}

.scroll-var-text::after {
  border-radius: 50%;
}

@media (max-width: 896px) {
  .mainvisual__copy-wrapper {
    bottom: var(--space-2xl);
    left: 5%;
    padding-right: 5%;
  }

  .mainvisual__copy--main {
    font-size: calc(30 / 400 * 100vw);
    margin-bottom: var(--space-xl);
  }

  .mainvisual__copy--sub {
    font-size: calc(10 / 400 * 100vw);
  }

  .side-var {
    width: 10%;
  }

  .scroll-var-text {
    padding: calc(300 / 600 * 100vh) 0 calc(80 / 400 * 100vw);
    font-size: calc(10 / 400 * 100vw);
  }

  .scroll-var-text::before {
    height: calc(60 / 400 * 100vw);
    bottom: calc(12 / 400 * 100vw);
  }

  .scroll-var-text::after {
    width: calc(3 / 400 * 100vw);
    height: calc(3 / 400 * 100vw);
    bottom: 0;
  }
}

@media (min-width: 896px) {
  .mainvisual__copy-wrapper {
    bottom: calc(96 / 1600 * 100vw);
    left: 3%;
  }

  .mainvisual__copy--main {
    font-size: calc(80 / 1600 * 100vw);
    margin-bottom: var(--space-xl-pc);
  }

  .mainvisual__copy--sub {
    font-size: calc(15 / 1600 * 100vw);
  }

  .side-var {
    width: 5.55%;
    padding-top: calc(175 / 1600 * 100vw);
    row-gap: calc(80 / 1600 * 100vw);
  }

  .side-var .sns-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-sm-pc);
  }

  .sns-nav__text {
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    font-weight: var(--font-weight-regular);
    font-size: calc(12 / 1600 * 100vw);
    padding-bottom: var(--space-xl-pc);
    position: relative;
  }

  .sns-nav__text::before {
    content: "";
    display: block;
    position: absolute;
    background: var(--font-color);
    width: 1px;
    height: calc(20 / 1600 * 100vw);
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  .sns-nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--space-sm-pc);
  }

  .sns-nav__item {
    width: calc(20 / 1600 * 100vw);
  }

  .scroll-var-text {
    font-size: calc(12 / 1600 * 100vw);
    padding-bottom: calc(80 / 1600 * 100vw);
  }

  .scroll-var-text::before {
    height: calc(60 / 1600 * 100vw);
    bottom: calc(12 / 1600 * 100vw);
  }

  .scroll-var-text::after {
    width: calc(3 / 1600 * 100vw);
    height: calc(3 / 1600 * 100vw);
    bottom: 0;
  }
}

/* ========================== feature ========================== */
.feature {
  width: 100%;
  position: relative;
}

.feature__bg {
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.feature__bg::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: var(--gradient-primary-light);
  width: 100%;
  height: 100%;
}

.feature__bg-img {
  width: 100%;
  overflow: hidden;
  opacity: 0.13;
}

.feature__bg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.feature__content {
  position: relative;
}

.feature__text-area {
  color: var(--base-color);
}

.feature__copy-area {
  position: absolute;
  text-align: right;
  z-index: 2;
  right: 0;
}

.feature__copy {
  color: var(--accent-color);
}

.feature__heading {
  position: absolute;
  font-weight: var(--font-weight-medium);
  width: 80%;
}

.feature__description-area {
  display: flex;
  flex-direction: column;
}

.feature__btn {
  color: var(--base-color);
  margin-left: auto;
  border-bottom: 1px var(--base-color) solid;
}

.feature__img-area {
  position: relative;
}

.feature__img {
  position: absolute;
}

.feature__img:nth-of-type(1) {
  width: 77.77%;
  top: 0;
  left: 0;
}

.feature__img:nth-of-type(2) {
  width: 55.55%;
  bottom: 0;
  right: 0;
}

.feature__btn .btn-arrow {
  background: var(--base-color);
}

.feature__btn .btn-arrow::before {
  background: var(--accent-color);
}

.feature__description {
  line-height: var(--line-height);
}

@media (max-width: 896px) {
  .feature {
    padding: var(--space-section) 0;
  }

  .feature__bg {
    width: 90%;
    height: 104%;
  }

  .feature__content {
    padding: var(--wrapper);
    display: flex;
    flex-direction: column-reverse;
    row-gap: var(--space-4xl);
  }

  .feature__img-area {
    width: 100%;
    height: calc(460 / 400 * 100vw);
  }

  .feature__heading {
    right: 5%;
    top: calc(40 / 400 * 100vw);
  }

  .feature__text-area {
    padding: 0 5% 0 15%;
    position: relative;
  }

  .feature__copy-area {
    top: -22%;
  }

  .feature__description-area {
    row-gap: var(--space-xl);
    margin-bottom: var(--space-4xl);
  }
}

@media (min-width: 896px) {
  .feature {
    padding: calc(300 / 1600 * 100vw) 0 var(--space-section-pc);
  }

  .feature__bg {
    margin-left: 15%;
    height: 103%;
  }

  .feature__content {
    margin: 0 15% 0 7.5%;
    display: grid;
    grid-template-columns: calc(615 / 1280 * 100%) calc(600 / 1280 * 100%);
    justify-content: space-between;
    align-items: flex-end;
  }

  .feature__heading {
    width: calc(1000 / 1600 * 100vw);
    top: calc(120 / 1600 * 100vw);
    left: 50%;
    transform: translateX(-50%);
  }

  .feature__text-area {
    order: 2;
  }

  .feature__copy-area {
    top: var(--space-xl-pc);
  }

  .feature__img-area {
    height: calc(780 / 1600 * 100vw);
  }

  .feature__description-area {
    row-gap: var(--space-3xl-pc);
    margin-bottom: calc(120 / 1600 * 100vw);
  }
}

/* ========================== service ========================== */
.service {
  position: relative;
}

.service__heading-area {
  text-align: center;
}

.service__heading {
  color: var(--main-color);
}

.service__content {
  width: 100%;
}

.service__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.service__item {
  width: 100%;
  position: relative;
}

.service__text-area {
  position: absolute;
  background: var(--base-color);
  box-sizing: border-box;
}

.service__text-area::before {
  content: "01.";
  position: absolute;
  color: rgba(var(--accent-color-rgb) / 0.1);
  font-family: var(--font-family-en);
  font-weight: var(--font-weight-medium);
}

.service__item:nth-of-type(2) .service__text-area::before {
  content: "02.";
}

.service__title {
  color: var(--accent-color);
  font-weight: var(--font-weight-regular);
}

.service__description {
  line-height: var(--line-height);
}

.service__btn {
  border: 1px var(--accent-color) solid;
  color: var(--accent-color);
  margin-left: auto;
}

.service .btn-arrow {
  background: var(--accent-color);
}

.service__btn .btn-arrow::before {
  background: var(--base-color);
}

@media (max-width: 896px) {
  .service {
    padding-top: var(--space-section);
  }

  .service__list {
    row-gap: var(--space-4xl);
    padding-bottom: var(--space-section);
    background: var(--sub-color);
  }

  .service__item {
    width: 100%;
    padding-bottom: calc(450 / 400 * 100vw);
  }

  .service__img-area {
    width: 100%;
  }

  .service__text-area {
    width: 90%;
    bottom: 0;
    padding: var(--space-3xl) calc(40 / 400 * 100vw);
  }

  .service__text-area::before {
    top: var(--space-md);
    left: 0;
    font-size: calc(100 / 400 * 100vw);
  }

  .service__item:nth-of-type(2) .service__text-area {
    right: 0;
  }

  .service__title {
    font-size: calc(24 / 400 * 100vw);
    margin-bottom: var(--space-xl);
  }

  .service__description {
    margin-bottom: var(--space-2xl);
  }
}

@media (min-width: 896px) {
  .service {
    padding: var(--space-section-pc) 0;
  }

  .service__list {
    row-gap: calc(180 / 1600 * 100vw);
    position: relative;
  }

  .service__list::before {
    content: "";
    display: block;
    width: 67.5%;
    height: 80%;
    background: var(--sub-color);
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .service__item {
    width: 100%;
  }

  .service__img-area {
    width: 67.5%;
  }

  .service__text-area {
    width: 35%;
    top: 0;
    right: 7.5%;
    padding: var(--space-4xl-pc);
  }

  .service__text-area::before {
    top: var(--space-md-pc);
    left: 0;
    font-size: calc(160 / 1600 * 100vw);
  }

  .service__item:nth-of-type(2) .service__img-area {
    margin-left: auto;
  }

  .service__item:nth-of-type(2) .service__text-area {
    left: 7.5%;
  }

  .service__title {
    font-size: calc(32 / 1600 * 100vw);
    margin-bottom: calc(72 / 1600 * 100vw);
  }

  .service__description {
    margin-bottom: var(--space-3xl-pc);
  }
}

/* ========================== works ========================== */
.works {
  color: var(--base-color);
  background: var(--gradient-primary-light);
}

.works__heading-area {
  text-align: left;
}

.works__lead {
  line-height: var(--line-height);
  text-align: left;
}

.works__list {
  display: flex;
}

.works__item {
  position: relative;
  overflow: hidden;
}

.works__item::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(var(--font-color-rgb) / 0.5);
  position: absolute;
  inset: 0;
}

.works__item-link {
  color: var(--base-color);
  display: block;
  width: 100%;
  height: 100%;
}

.works__title {
  position: absolute;
  z-index: 10;
  font-weight: var(--font-weight-medium);
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__title-text {
  border-bottom: 1px var(--base-color) solid;
  display: inline-block;
}

.works img {
  object-fit: cover;
}

.works__btn {
  color: var(--accent-color);
  background: var(--base-color);
  margin: 0 auto;
}

.works__btn .btn-arrow {
  background: var(--accent-color);
}

.works__btn .btn-arrow::before {
  background: var(--base-color);
}

@media (max-width: 896px) {
  .works {
    padding: var(--space-section) 0;
  }

  .works__content {
    padding: var(--wrapper) 0;
  }

  .works__lead {
    margin-bottom: var(--space-4xl);
  }

  .works__list {
    flex-direction: column;
    row-gap: var(--space-lg);
    margin-bottom: var(--space-3xl);
  }

  .works__title {
    font-size: calc(24 / 400 * 100vw);
  }

  .works__title-text {
    padding-bottom: var(--space-sm);
  }

  .works__item {
    height: calc(240 / 400 * 100vw);
  }

  .works__item img {
    object-position: 0 -12rem;
  }
}

@media (min-width: 896px) {
  .works {
    padding: var(--space-section-pc) 0;
  }

  .works__content {
    width: 100%;
    padding: 0 calc(40 / 1600 * 100vw);
  }

  .works__content::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    margin-right: calc(200 / 1600 * 100vw);
    height: 100%;
    background: var(--gradient-primary-light);
  }

  .works__block--top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 calc(260 / 1600 * 100vw) 0 calc(200 / 1600 * 100vw);
  }

  .works__lead {
    margin-top: var(--space-xl-pc);
  }

  .works__list {
    justify-content: space-between;
    margin-bottom: var(--space-4xl-pc);
  }

  .works__item {
    margin-top: var(--space-3xl-pc);
  }

  .works__item:nth-of-type(2),
  .works__item:nth-of-type(4) {
    margin: 0 0 var(--space-3xl-pc);
  }

  .works__title {
    font-size: calc(24 / 1600 * 100vw);
  }

  .works__title-text {
    padding-bottom: var(--space-md-pc);
  }

  .works__item {
    width: 23%;
  }

  .works__btn {
    width: calc(380 / 1600 * 100vw);
  }
}

/* ========================== company ========================== */
.company {
  position: relative;
}

.company__bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background-image: url(../images/company__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.company__copy-area {
  color: var(--main-color);
}

.company__text-area {
  width: 100%;
  position: relative;
}

.company__text-area::after {
  content: "";
  display: block;
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 100%;
  background: var(--sub-color);
  inset: 0;
}

.company__text-area-content {
  background: var(--base-color);
}

.company__heading-area {
  position: absolute;
  z-index: 2;
}

.company__heading {
  color: var(--accent-color);
}

.company__description {
  line-height: var(--line-height);
  position: relative;
  z-index: 1;
}

.company__list {
  display: flex;
  flex-direction: column;
}

.company__btn {
  color: var(--accent-color);
  border-bottom: 1px var(--accent-color) solid;
}
.company__btn .btn-arrow {
  background: var(--accent-color);
}

.company__btn .btn-arrow::before {
  background: var(--base-color);
}

@media (max-width: 1439px) {
  .company {
    margin-bottom: var(--space-section-sp);
    padding-top: var(--space-3xl);
  }

  .company__bg {
    width: 90%;
    height: 45%;
  }

  .company__copy-area {
    margin-bottom: calc(var(--space-lg) * 10);
  }

  .company__text-area {
    position: relative;
  }

  .company__text-area-content {
    width: 90%;
    margin-right: auto;
    padding: clamp(10rem, 26.6vw, 12rem) 10%;
  }

  .company__text-area::before {
    content: "";
    display: block;
    position: absolute;
    width: min(64vw, 30rem);
    height: min(64vw, 30rem);
    background-image: url(../images/logo__icon.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 115%;
    z-index: 1;
  }

  .company__heading-area {
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
  }

  .company__description {
    margin-bottom: var(--space-2xl);
  }

  .company__list {
    row-gap: var(--space-md);
  }
}

@media (min-width: 1440px) {
  .company {
    margin-bottom: var(--space-section-pc);
    padding-top: var(--space-section-pc);
  }

  .company__bg {
    width: 92.5%;
    height: 80%;
  }

  .company__copy-area {
    padding-right: 7.5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: calc(var(--space-lg) * 24);
  }

  .company__copy {
    font-size: clamp(3.6rem, 2.5vw, 4.2rem);
    margin-bottom: var(--space-xs);
    padding: var(--space-xs) var(--space-md);
  }

  .company__text-area-content {
    padding: clamp(10rem, 26.6vw, 12rem) 10%;
    width: 85%;
    margin-left: auto;
    position: relative;
  }

  .company__text-area-content::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: min(31.25vw, 45rem);
    height: 100%;
    background-image: url(../images/logo__icon.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 115%;
  }

  .company__heading-area {
    text-align: left;
    left: 11.5%;
    top: -65px;
  }

  .company__text-block--bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .company__description {
    width: 50%;
  }

  .company__nav {
    width: 32rem;
  }

  .company__list {
    width: 100%;
    row-gap: var(--space-md);
  }
}
